body {
 background-color: #FFC;
 font-family: "times new roman";
}
#wrapper {
 width: 850px;
 margin: 50px auto;
 height: auto;
 padding: 40px;
 background-color: #FFF;
 box-shadow: 0px 0px 20px #F60;
 -moz-box-shadow:0px 0px 20px #F60;
 -webkit-box-shadow: 0px 0px 20px #F60;
 border-radius: 17px;
 -moz-border-radius: 17px;
 -webkit-border-radius: 17px;
}
#wrapper1{
margin:0px auto;
width: 100%;
}
#wrapper2{
margin:0px auto;
width: 100%;
}
#content2 {
 width: 100%;
 height: 100%;
 margin-bottom: 2px;
 border: 1px solid #CCC;
 margin-bottom: 7px;
}
#content2 img{
 border-radius: 17px;
 -moz-border-radius: 17px;
 -webkit-border-radius: 17px;
 box-shadow: 0px 0px 10px #CCC;
 -moz-box-shadow:0px 0px 10px #CCC;
 -webkit-box-shadow: 0px 0px 10px #CCC;
 padding: 2px; margin-right: 10px;
  width: 300px;
     height: 300px;
     border: 4px solid #575D63;
     padding: 3px;
     margin: 25px;

}
#header {
 width: 850px;
 height: 80px;
 border: 1px solid #CCC;
 margin-bottom: 7px;
 text-align: center;
}
#sidebar {
 float: right;
 width: 300px;
 height: 320px;
 border: 1px solid #CCC;
 margin-bottom: 7px;
 text-align: center;
}
#sidebar1 {
 float: right;
 width: 440px;
 height: 320px;
 margin-bottom: 7px;
 text-align: center;
}
#sidebar1 img{
     border-radius: 17px;
 -moz-border-radius: 17px;
 -webkit-border-radius: 17px;
 box-shadow: 0px 0px 10px #CCC;
 -moz-box-shadow:0px 0px 10px #CCC;
 -webkit-box-shadow: 0px 0px 10px #CCC;
 padding: 2px; margin-right: 10px;
     width: 380px;
     height: 300px;
     border: 4px solid #575D63;
     padding: 10px;
     margin: 20px;
}
#content1 {
 width: 380px;
 height: 320px;
 margin-bottom: 2px;
 margin-bottom: 7px;
}

#content1 img{
 border-radius: 17px;
 -moz-border-radius: 17px;
 -webkit-border-radius: 17px;
 box-shadow: 0px 0px 10px #CCC;
 -moz-box-shadow:0px 0px 10px #CCC;
 -webkit-box-shadow: 0px 0px 10px #CCC;
 padding: 2px; margin-right: 10px;
  width: 380px;
     height: 300px;
     border: 4px solid #575D63;
     padding: 10px;
     margin: 20px;
 float:left;
}
#content {
 width: 538px;
 height: 320px;
 margin-bottom: 2px;
 border: 1px solid #CCC;
 margin-bottom: 7px;
}
#content3 {
 width: 538px;
 height: 320px;
 margin-bottom: 2px;
 margin-bottom: 7px;
}
#sidebar img{
    border-radius: 17px;
 -moz-border-radius: 17px;
 -webkit-border-radius: 17px;
 box-shadow: 0px 0px 10px #CCC;
 -moz-box-shadow:0px 0px 10px #CCC;
 -webkit-box-shadow: 0px 0px 10px #CCC;
 padding: 2px; margin-right: 10px;
     width: 15px;
     height: 15px;
}
#content img{
 border-radius: 17px;
 -moz-border-radius: 17px;
 -webkit-border-radius: 17px;
 box-shadow: 0px 0px 10px #CCC;
 -moz-box-shadow:0px 0px 10px #CCC;
 -webkit-box-shadow: 0px 0px 10px #CCC;
 padding: 2px; margin-right: 10px;
 float:left;
}
#footer {
 width: 850px;
 height: 20px;
 padding-top: 0px;
 border: 1px solid #CCC;
 text-align: center;
 background-color: #CCC;
 clear: both;
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
}
.dropmenu {
    background-color: #CCC;
 font-family: "times new roman";
    height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
.dropmenu li {
    border-right: solid 1px white;
    float: left;
    height: 30px;
}
.dropmenu li a {
    color: black;
    display: block;
    font: 12px arial, verdana, sans-serif;
    font-weight: bold;
    padding: 9px 20px;
    text-decoration: none;
}
.dropmenu li:hover { background: #778899; position: relative; }
.dropmenu li:hover a { text-decoration: underline; }
.dropmenu li:hover ul {
    background-color: #3f4a54;
    border: 1px solid grey;
    left: 0px;
    padding: 3px;
    top: 30px;
    width: 160px;
}
.dropmenu li:hover ul li { border: none; height: 18px; }
.dropmenu li:hover ul li a {
    background-color: #778899;
    border: 1px solid transparent;
    color: #fff;
    display: block;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    padding: 0px;
    text-decoration: none;
    text-indent: 5px;
    width: 158px;
    padding: 3px;
}
.dropmenu li:hover ul li a:hover {
    background: silver;
    border: solid 1px #444;
    color: #000;
    height: 18px;
    padding: 3px;
}
.dropmenu ul {
    left: -9999px;
    list-style-type: none;
    position: absolute;
    top: -9999px;
}
